.darkBG {
      background-color: rgba(0, 0, 0, 0.2);
      width: 200vw;
      height: 200vh;
      z-index: 0;
      /* overflow: auto; */
      /* top: 50%; */
      /* left: 50%; */
      transform: translate(-50%, -50%);
      position: absolute;
}

.centered {
      position: fixed;
      top: 50%;
      left: 85%;
      transform: translate(-50%, -50%);
}

.modal {
      width: 30vw;
      height: 62vw;
      margin-top: 60px;
      background-color: white;
      color: white;
      /* z-index: 10; */
      /* border-radius: 16px; */
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
      height: 100px;
      background: white;
      overflow: hidden;
      /* margin-bottom: -50px; */
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
}

.heading {
      /* margin: 0; */
      /* margin-top: 30px; */
      padding-left: 30px;
      padding-top: 80px;
      color: #2c3e50;
      font-weight: 600;
      font-size: 18px;
      text-align:left;
      }

.modalContent {
      padding: 30px 30px;
      font-size: 14px;
      color: #2c3e50;
      text-align: left;
}

.modalActions {
      position: absolute;
      bottom: 2px;
      margin-bottom: 10px;
      width: 100%;
}

.actionsContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.closeBtn {
      cursor: pointer;
      font-weight: 500;
      padding: 4px 8px;
      /* border-radius: 8px; */
      border: none;
      font-size: 25px;
      color: #2c3e50;
      background: white;
      transition: all 0.25s ease;
      /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06); */
      position: absolute;
      right: 0;
      /* bottom: 120px; */
      align-self: flex-end;
      margin-top: -30px;
      margin-right: 7px;
}

.closeBtn:hover {
      /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04); */
      transform: translate(-4px, 4px);
}

.deleteBtn {
      margin-top: 10px;
      cursor: pointer;
      font-weight: 500;
      padding: 11px 28px;
      border-radius: 12px;
      font-size: 0.8rem;
      border: none;
      color: #fff;
      background: #ff3e4e;
      transition: all 0.25s ease;
}

.deleteBtn:hover {
      box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
      transform: translateY(-5px);
      background: #ff3e4e;
}

.cancelBtn {
      margin-top: 10px;
      cursor: pointer;
      font-weight: 500;
      padding: 11px 28px;
      border-radius: 12px;
      font-size: 0.8rem;
      border: none;
      color: #2c3e50;
      background: #fcfcfc;
      transition: all 0.25s ease;
}

.cancelBtn:hover {
      box-shadow: none;
      transform: none;
      background: whitesmoke;
}