.sidebar-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background: #333;
    /* &.open {
      -webkit-transform: translateX(300px);
      transform: translateX(300px);
    }
    .menu {
      > li {
        > a {
          padding: 15px 20px;
          color: #fff;
        }
      }
    } */
  }

.AddNewWalletButton {
  right: 0 ;
  /* float: right; */
  position: 'absolute';
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.AddNewWalletButton:hover {
  background-color: #F5F7FA;
  cursor: pointer;
}